@model Dictionary<string, List<string>>

@foreach (var databaseName in Model.Keys)
{
    <h3>@databaseName</h3>
    <ul>
        @foreach (var collectionName in Model[databaseName])
        {
            <li>@collectionName</li>
        }
    </ul>
}